/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html {
    font-size: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: quicksand;

}

header {
    max-width: 1300rem;
    margin: 20rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

button {
    height: 40rem;
    width: 170rem;
    background-color: orange;
    color: white;
    border: none;
    font-size: 16rem;
    font-weight: bold;
    border-radius: 10rem;


}

.button-2 {
    background-color: black;
}

.button-2:hover {
    background-color: rgb(125, 112, 86);
}


.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    font-size: 30rem;
    text-transform: uppercase;
    color: rgb(110, 63, 153);
}

.span-logo {
    color: orangered;
}

.nav-link a {
    font-size: 16rem;
    text-decoration: none;
    margin: 0 20rem;
    font-weight: 500;
}

.nav-link a:hover {
    color: black;
}

.nav-link-1 {
    color: orange;
}

.nav-link-2 {
    color: skyblue;
}

.nav-link-3 {
    color: blueviolet;
}

.nav-link-4 {
    color: rgba(39, 39, 93, 0.653);
}


button:hover {
    background-color: rgba(0, 0, 0, 0.295);
}

.hamburger {
    display: none;
}

.hamburger img {
    height: 30rem;
    width: 30rem;
    opacity: 60%;
}

.hamburger img:hover {
    opacity: 30%;
}

.header-underline {
    height: 1rem;
    background-color: orange;
    border: none;
    opacity: 60%;
    display: none;
}

/* Hero section design */

.hero-section {
    max-width: 1300rem;
    margin: 40rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h2 {
    font-size: 40rem;
    margin: 20rem 0;
    font-weight: 800;
}

.hero-text p {
    font-size: 16rem;
    margin: 20rem 0;
    opacity: 80%;
}

.span-empowering {
    color: orange;
}

.span-towards {
    color: blueviolet;
}


/* Standard Curriculum Section Design */

.standard-curriculum {
    /* border: 2px solid black; */
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1300rem;
    margin: 120rem auto 0;
    /* padding: 40rem 40rem; */
}

.standard-curriculum h1 {
    font-size: 40rem;
    font-weight: 800;
    text-align: center;
}

.curriculum-card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 80rem;
}


.curriculum-card {
    width: 350rem;
    text-align: center;
    padding: 40rem 40rem;
    background-color: aqua;
    border-radius: 20rem;

}

.card-1{
    background: -webkit-linear-gradient(90deg, rgba(229, 233, 246, 0.502) 0%, rgba(92, 94, 230, 0.217) 100%);

}

.card-2{
    background: -webkit-linear-gradient(90deg, rgba(229, 233, 246, 0.502) 0%, rgba(134, 241, 120, 0.473) 100%);

}

.card-3{
    background: -webkit-linear-gradient(90deg, rgba(229, 233, 246, 0.502) 0%, rgba(109, 53, 212, 0.292) 100%);

}


.curriculum-card h3 {
    font-size: 24rem;
    margin-bottom: 20rem;
    margin-top: 20rem;
}

.curriculum-card p {
    font-size: 14rem;
    opacity: 70%;
    line-height: 2;
    margin-bottom: 30rem;

}
.curriculum-card a {
    font-size: 16rem;
    margin-bottom: 30rem;
    text-decoration: none;
}

.curriculum-card a:hover{
    color: black;
}
.card-2 a{
    color: orange;
}
.card-3 a{
    color: red;
}
/* Responsive design for mobile view */

@media only screen and (max-width: 500px) {
    header {
        max-width: auto;
        margin: 20rem 20rem;

    }

    .logo img {
        width: 50rem;
        height: 50rem;
    }

    .logo h2 {
        display: none;
    }

    .nav-link a {
        display: none;
    }

    .nav-button button {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .header-underline {
        display: block;
    }

    /* hero section for mobile */

    .hero-section {
        max-width: auto;
        margin: 0 auto;
        align-items: center;
        flex-direction: column-reverse;
    }

    .hero-image img {
        max-width: 430rem;
        max-height: 320rem;
    }

    .hero-text h2 {
        font-size: 30rem;
        text-align: center;
    }

    .hero-text p {
        font-size: 13rem;
        text-align: center;
        margin: 0 20rem;
    }

    .hero-p-br {
        display: none;
    }

    .hero-button {
        display: flex;
        justify-content: center;
        margin-top: 20rem;
    }


}